<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title >Login</ion-title>
      <!-- <span style="float:right">
        <button ion-button icon-only clear (click)="settings()">
          <ion-icon color="light" name="settings"></ion-icon>
        </button>
      </span> -->
  
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding >
    <ion-row >
      <ion-col>
        <ion-list>
          
          <div >
            <ion-item>
              <ion-label color="primary" floating>
                <ion-icon name="person"></ion-icon> User ID</ion-label>
              <ion-input id="email" type="text" [(ngModel)]=email required  ></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label color="primary" floating>
                <ion-icon name="lock"></ion-icon> Password </ion-label>
              <ion-input id="password" type="password" required [(ngModel)]=password></ion-input>
            </ion-item>
          </div>
  
        </ion-list>
      </ion-col>
  
      <button ion-button full (click)="login()">Login</button>
  
    </ion-row>
  </ion-content>