page-staff {

	.category-concept-card
	{
		background-color: $theme-color-3;
		border-radius: 5px;
		box-shadow: none;
        margin-bottom: 10px;
        min-height: 250px;
		// background-image: url('https://i.ebayimg.com/00/s/NjQwWDEwMjQ=/z/qAEAAOSwOVpXZRpo/$_86.JPG');
		background: url('https://www.3dartistonline.com/users/6750/thm1024/1358159941_Spa-FINAL.jpg') no-repeat left -10px top -250px;

        .staff-profile {
            width: 180px;
            height: 180px;
            object-fit: cover;
            float: right;  
            margin-top: 10px;
        }
		.category-title
		{
			color: #FFF;
			font-weight: 600;
			font-size: 2.2rem;
			margin: 0px;
		}

		.category-info
		{
			color: #FFF;
			// font-weight: 00;
			font-size: 1.8rem;
			margin: 0px;
		}

		.category-description
		{
			color: #FFF;
			margin-bottom: 5px;
		}

		.category-tag
		{
			border: 1px solid #FFF;
			color: #FFF;
			background: transparent;
			font-weight: 300;
			margin-right: 4px;
			opacity: 0.6;
		}
	}
}
