<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>Our Staffs!</span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card class="category-concept-card" [style.background-color]="staff.background" *ngFor="let staff of staffs" (click)="openDetails({ staff: staff })">
      <ion-card-header>
        <h2 class="category-title">{{ staff.title }}</h2>
      </ion-card-header>
      <ion-card-content>
        <h5 class="category-info"> Outlet: {{ staff.outlet }}</h5>
        
        <p class="category-description">          
          <!-- I am here to server you the best. -->
        </p>
        <ion-row>
          <ion-col no-padding>
            <ion-badge class="category-tag" *ngFor="let tag of staff.tags" item-right>{{ tag.name }}</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
              <img class="staff-profile" width="180" height="180" src="{{ staff.profile_url }}" alt="Staff">
              <!-- <ion-img class="staff-profile" width="80" height="80" [src]="category.profile_url"></ion-img> -->
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
  