page-current-booking {

	.category-concept-card
	{
		background-color: gold;
		border-radius: 20px;
		box-shadow: none;
		margin-bottom: 20px;

        .category-info
		{
			color: #000000;
			font-weight: 400;
			font-size: 1.7rem;
			margin: 0px;
        }

        .imagebox {
            text-align: center;
            // border: 1px solid #b7ae336e;
            // background-color: #b7ae336e;

            .avatar-image{
                display: inline-block;
                vertical-align: middle;
                border-radius: 100%;
                width: 150px;
                height: 150px;
            }
        }
        
		.category-title
		{
			color: #000000;
			font-weight: 600;
			font-size: 2.2rem;
			margin: 0px;
		}

		.category-description
		{
			color: #000000;
			margin-bottom: 20px;
		}

		.category-tag
		{
			border: 1px solid #FFF;
			color: #FFF;
			background: transparent;
			font-weight: 300;
			margin-right: 4px;
			opacity: 0.6;
		}
	}
}
