<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>Current Bookings</span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="category-concept-card" *ngFor="let category of bookings" (click)="openDetails({ category: category })">
      <ion-card-header>
        <h2 class="category-title">{{ category.date }}</h2>
      </ion-card-header>
      <ion-card-content>
          <div class="imagebox">
              
              <img align="middle" src="{{ category.staff.profile_url }}" class="avatar-image avatar-image--smaller" alt="">
          </div>
          
          <h5 class="category-info">Date: {{ category.date }}</h5>
          <h5 class="category-info">Time Slot: {{ category.time_slot }}</h5>
          <h5 class="category-info">Service Name: {{ category.service.name }}</h5>
          <h5 class="category-info">Service Type: {{ category.service.type }}</h5>
          <h5 class="category-info">Service Duration: {{ category.service.duration }}</h5>
          <h5 class="category-info">Staff: {{ category.staff.name }}</h5>
        

        <!-- <p class="category-description">
          {{ category.start_time }}
        </p>
        <p class="category-description">
            {{ category.time_slot }}
        </p> -->
        <!-- <ion-row>
          <ion-col no-padding>
            [style.background-color]="category.background" 
            <ion-badge class="category-tag" *ngFor="let tag of category.tags" item-right>{{ tag.name }}</ion-badge>
          </ion-col>
        </ion-row> -->
      </ion-card-content>
    </ion-card>
  </ion-content>
  