learn-feed-page {

	.category-concept-card
	{
		background-color: $theme-color-3;
		border-radius: 0px;
		box-shadow: none;
		margin-bottom: 20px;
		min-height: 280px;

		// height: auto;
		// width: 100%;


		.category-title
		{
			color: #FFF;
			font-weight: 600;
			font-size: 2.2rem;
			margin: 0px;
		}

		.category-description
		{
			color: #FFF;
			margin-bottom: 20px;
		}

		.category-tag
		{
			border: 1px solid #FFF;
			color: #FFF;
			background: transparent;
			font-weight: 300;
			margin-right: 4px;
			opacity: 0.6;
		}
	}
}
