<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Welcome to Our Spa!</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-card class="category-concept-card" 
  [style.background-color]="category.background"
   *ngFor="let category of categories" (click)="openDetails({ category: category })">
    <ion-card-header>
      <h2 class="category-title">{{ category.title }}</h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        {{ category.description }}
      </p>
    </ion-card-content>
  </ion-card> -->

  <ion-card class="category-concept-card"   
  style="background: url('https://www.3dartistonline.com/users/6750/thm1024/1358159941_Spa-FINAL.jpg') no-repeat left -100px top -100px;">
    <ion-card-header>
      <h2 class="category-title"> Test </h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        Welcome
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="category-concept-card" 
  style="background: url('https://www.3dartistonline.com/users/6750/thm1024/1358159941_Spa-FINAL.jpg') no-repeat left -100px top -250px;">
    <ion-card-header>
      <h2 class="category-title"> Test </h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        Welcome
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="category-concept-card" 
  style="background: url('https://www.3dartistonline.com/users/6750/thm1024/1358159941_Spa-FINAL.jpg') no-repeat left -100px top -250px;">
    <ion-card-header>
      <h2 class="category-title"> Test </h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        Welcome
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="category-concept-card" 
  style="background: url('https://www.3dartistonline.com/users/6750/thm1024/1358159941_Spa-FINAL.jpg') no-repeat left -100px top -250px;">
    <ion-card-header>
      <h2 class="category-title"> Test </h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        Welcome
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>
