<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>AboutUs</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="search-query">
    <span>Showing: </span>
    <ion-badge class="query-tag">{{ _query }}</ion-badge>
    <span class="query-explanation"> concepts</span>
  </h3>

  <ion-card class="category-concept-card"
   [style.background-color]="content.background">
    <ion-card-header>
      <h2 class="category-title">{{ content.title }}</h2>
      <hr class="category-title-hr">
    </ion-card-header>
    <ion-card-content>

        <ion-grid class="category-description">
            <ion-row>
                <ion-col> Name </ion-col>
                <ion-col> {{ content.info.name }} </ion-col>
            </ion-row>
            <ion-row>
                <ion-col> Location </ion-col>
                <ion-col> {{ content.info.location }} </ion-col>
            </ion-row>
            <ion-row>
                <ion-col> Contact </ion-col>
                <ion-col> {{ content.info.contact }} </ion-col>
            </ion-row>
            <ion-row>
                <ion-col> Website </ion-col>
                <ion-col> {{ content.info.website }} </ion-col>
            </ion-row>
          </ion-grid>

      <p class="category-description">
        Discrete 
      </p>
      <!-- <ion-row>
        <ion-col no-padding>
          <ion-badge class="category-tag" *ngFor="let tag of category.tags" item-right>{{ tag.name }}</ion-badge>
        </ion-col>
      </ion-row> -->
    </ion-card-content>
  </ion-card>
  
</ion-content>
